<app-auth-background class="link-expired">
  <div class="link-expired__result">
    <div class="link-expired__result__header">
      <app-auth-logo></app-auth-logo>
    </div>

    <p class="link-expired__result__message">
      {{message}}
    </p>

    <div class="link-expired__result__submit">
      <button (click)="sendEmail()">Send Email</button>
    </div>

    <div class="link-expired__result__redirect">
      <a [routerLink]="['/sign-in']">Log In</a>
      <span>|</span>
      <a [routerLink]="['/sign-out']">Register</a>
    </div>
  </div>
</app-auth-background>
