<mat-card class="dialog">
    <!-- <mat-radio-group [(ngModel)]="selectedRule">
        <mat-radio-button value="log-values">
            Console.log values
        </mat-radio-button>
        <mat-radio-button value="log-comments">
            Console.log comments
        </mat-radio-button>
    </mat-radio-group>
    <div class="button-group">
        <button class="delete" mat-button (click)="deleteLink()">
            Delete link
        </button>
        <button class="apply" mat-button (click)="apply()">
            Apply
        </button>
    </div> -->

    <div class="rule">
        <mat-checkbox class="example-margin" 
            [(ngModel)]="applyFunctionCheckbox">Apply function
        </mat-checkbox>
        <ng-container *ngIf="applyFunctionCheckbox">
            <div class="sub-rule">
                <span>
                    Function
                </span>
                <mat-form-field>
                    <input matInput [(ngModel)]="functionInputValue">
                </mat-form-field>
            </div>
            <div class="sub-rule">
                <span>
                    Name as
                </span>
                <mat-form-field>
                    <input matInput [(ngModel)]="nameAsInputValue">
                </mat-form-field>
            </div>
        </ng-container>
    </div>

    <div class="rule">
        <mat-checkbox class="example-margin" [(ngModel)]="lookupCheckbox">
            Use as key for lookup table
        </mat-checkbox>
        <ng-container *ngIf="lookupCheckbox">
                <div class="sub-rule">
                    <span>
                        Function
                    </span>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="sub-rule">
                    <span>
                        Name as
                    </span>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </div>
            </ng-container>
    </div>

    <!-- <mat-checkbox class="example-margin" [(ngModel)]="applyFunctionCheckbox">Use as key for lookup</mat-checkbox>
    <div class="rule"> 
        <div>

        </div>
        <mat-form-field class="apply-function-rule">
            <input matInput placeholder="Function">
        </mat-form-field>
    </div>
    
    <mat-form-field class="apply-function-rule">
        <input matInput placeholder="Name as">
    </mat-form-field> -->
    <div class="button-group">
        <button class="delete" mat-button (click)="deleteLink()">
            Delete link
        </button>
        <button class="apply" mat-button (click)="apply()">
            Apply
        </button>
    </div>
</mat-card>